<app-loading *ngIf="!playerList.length"></app-loading>

<div class="container" *ngIf="playerList.length">
  <mat-card class="player-card" *ngFor="let player of playerList">
    <mat-card-title class="player-name">{{player.profile.personaname}}</mat-card-title>
    <mat-card-subtitle class="player-mmr">{{player.mmr_estimate.estimate}} MMR</mat-card-subtitle>
    <img class="player-avatar" mat-card-lg-image [src]="player.profile.avatarfull">
    <mat-card-actions>
      <button mat-raised-button color="primary">STATS</button>
      <button mat-raised-button color="accent" (click)="throwShade($event)">THROW SHADE</button>
    </mat-card-actions>
  </mat-card>
</div>
